
* {box-sizing: border-box;}
body {
    padding: 0;
    margin: 0;
    background-color: #c19942;
}
.nav{
    background-color: #c19942;
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 150px;
    margin: auto;
}
.nav a{
    color: white;
    text-decoration: none;
    float: right;
    display: block;
    padding: 50px 20px;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
}
.nav a:hover{
    text-decoration: none;
    color: white;
}
.logo{
    float: right;
}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.card{
    display: block;
    float: right;
    margin: 5px;
    text-align: center;
}
.row{
    float: right;
    width: 100%;
    background-color: #c19942;
    margin: 0;
}
.im:hover{
    border: 1px solid black;
}
#img2{
    margin-top: 10px;
}
#img3{
    margin-right: 50px;
}